@charset "utf-8";
/* CSS Document */

.bg-light
{
	background-color: forestgreen!important;
}
.mycontainer{
	background-color: #AFA2B7;
	
}
.mar{
	
}

.mycontainer-2{
	background-size:auto;
}
.mycontainer-2 .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}

.myborder{
	border-width: thick;
	border-radius: 10px;
	border-color: #000000;
}