@charset "utf-8";
/* CSS Document */

.bg-light
{
	background-color: forestgreen!important;
}
.mycontainer{
	background-color: #AFA2B7;
	
}
.mar{
	
}
.container-abt{
	
	width: 100%;
	height: auto;
	padding: 10px 
}